body {
  font-family: poppins;
}

.header{
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 65px;
  background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1)) !important;
  color: white;
}

nav a{
  color: white;
}

nav a:hover{
  color: #BBB9F8;
}

.hero h1{
  margin-top: 60px;
}

.hero h6{
  margin-top: 15px;
  margin-bottom: 30px;
}

.hero-img{
  float: right;
  margin-top: 50px;
  width: 90%;
  height: auto;
}

.btn1 {
	background-color: #9E9BF5 !important;
	color: white !important;
	border: 2px solid white !important;
}
  
.btn2 {
	background-color: #BBB9F8 !important;
	color: white !important;
	border: 2px solid white !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.futer li a{
	padding: 14px 0;
}

.h_serv {
  margin-top: 80px;
  color: #9E9BF5;
}

.serv-img{
  width: 30%;
  height: auto;
}

.h_serv .container{
  margin-top: 60px;
  margin-bottom: 80px;
}

.h_serv .container img {
  margin-top: 10px;
}

.h_serv .container h3 {
  margin-top: 10px;
}

.h_serv .container h6 {
  margin-bottom: 30px;
}

.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(187, 185, 248, 1), 0 2px 10px 0 rgba(187, 185, 248, 1);
}

.h_team{
  margin-bottom: 80px;
  color: #9E9BF5;
}

.h_team .container{
  margin-top: 40px;
  margin-bottom: 80px;
}

.h_porto {
	margin-top: 80px;
	color: #9E9BF5;
}
  
.porto-img{
	margin-bottom: 10px;
	width: 100%;
	height: auto;
 }

.h_porto .container{
	margin-top: 60px;
	margin-bottom: 80px;
}

.btn-porto{
	background-color: #9E9BF5 !important;
	color: white !important;
	margin-top: 60px !important;
}

.iklan{
	background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1));
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.iklan h4{
	margin-left: 140px;
}

.iklan .btn{
	float: right;
	margin-right: 140px;
}

.testi {
	margin-top: 80px;
	color: #9E9BF5;
}

.form-control-inline{
	margin: 60px 0;
	min-width: 0;
	width: auto;
}

.btn3 {
	background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1)) !important;
	color: white !important;
}

.card-desc{
	max-width: 200px;
}

.testi .card{
	padding: 20px;
	margin-bottom: 60px;
	margin-top: 40px;
}

.testi-img{
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	width: 50px;
}

.futer{
    padding-top: 80px;
	color: #9E9BF5;
}

.list-unstyled li a{
    color: #9E9BF5;
}

.futer-logo{
    width: 40%;
    margin-bottom: 15px;
}

.futer-icon{
    margin-top: 10px;
}

.futer-icon img{
    margin-right: 10px;
	width: 8%;
}

.login {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 125px;
	background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1));
	color: white;
}

.login h1{
	margin-top: 30px;
}

.register {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
	background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1));
	color: white;
}

.register h1{
	margin-top: 20px;
}

.admporto {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 115px;
	background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1));
	color: white;
}

.admporto h1{
	margin-top: 20px;
}

.btn-add{
	margin-top: 30px;
	margin-bottom: 30px;
}

.admporto table{
	color: white;
}

.addPorto {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 105px;
	background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1));
	color: white;
}

.addPorto h1{
	margin-top: 20px;
}

.editPorto {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 135px;
	background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1));
	color: white;
}

.editPorto h1{
	margin-top: 20px;
}

.admtesti {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 215px;
	background-image: linear-gradient(to bottom left, rgba(158, 155, 245, 1), rgba(187, 185, 248, 1));
	color: white;
}

.admtesti h1{
	margin-top: 20px;
}

.admtesti table{
	margin-top: 60px;
	color: white;
}

/* css template our team */

/* =============================================
grid 
============================================= */

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

/* =============================================
Zoe Hover Animation
============================================= */

figure.hvr-effect figcaption {
	top: auto;
	bottom: 0;
	padding: 0.5em;
	height: 3.75em;
	background: #fff;
	color: #9E9BF5;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
  opacity: 90%;
}

figure.hvr-effect h2 {
	float: left;
}

figure.hvr-effect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.hvr-effect:hover p.icon-links a:hover,
figure.hvr-effect:hover p.icon-links a:focus {
	color: #252d31;
}

figure.hvr-effect p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.hvr-effect h2,
figure.hvr-effect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.hvr-effect p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'poppins Bold';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

figure.hvr-effect h2 {
	display: inline-block;
}

figure.hvr-effect:hover p.description {
	opacity: 1;
}

figure.hvr-effect:hover figcaption,
figure.hvr-effect:hover h2,
figure.hvr-effect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.hvr-effect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.hvr-effect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.hvr-effect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.hvr-effect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}